.container {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.text {
  margin: auto;
  margin-bottom: 35px;
  max-width: 98%;
}

.takePicture {
  margin-bottom: 30px;
}
.manually {
  margin-bottom: 19px;
}

.image {
  margin-top: 4.5px;
  margin-bottom: 13px;
}
