$main: #1b8158;
$secondary: #f1f1f1;
$disabled: #e7e9e7;
$disabledText: rgba(19, 34, 15, 0.3);
$textPrimary: #13220f;
$textSecondary: #898989;
$textBlack: #2a2a37;
$terraGreen: #005c35;
$terraGrey: #f7f7f7;
$terraWhite: #ffffff;
$error: #ca4b2b;
$delete: #c43f3f;
$success: #60d695;
$grey: #dedede;
$secondaryGreen: #e9f3ef;
$disabledInputText: #acacac;
$navGrey: #aeaeae;
