@use 'reset';
@use 'text';
@use 'utils';
@use 'animations';

:root {
  --bs-gutter-x: 16px;
}

.tool-btn {
  @include utils.tool-btn;
}

.bottom-curved {
  @include utils.bottom-curved;
}

* {
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.enter {
  .hide-on-enter,
  &.hide-on-enter {
    display: none !important;
  }
}

.exit {
  .hide-on-exit,
  &.hide-on-exit {
    display: none !important;
  }
}

// font styles for text edited by RichTextEditor(CKEditor)
.default-font,
.ck-content {
  font-size: 15px;
  line-height: 24px;
}

.text-tiny,
.ck-content .text-tiny {
  font-size: 12px;
  line-height: 21px;
}

.text-small,
.ck-content .text-small {
  font-size: 13px;
  line-height: 22px;
}

.text-big,
.ck-content .text-big {
  font-size: 17px;
  line-height: 28px;
}

.text-huge,
.ck-content .text-huge {
  font-size: 20px;
  line-height: 32px;
}

.ck-content {
  min-height: 150px;

  ol,
  ul {
    padding-left: 25px;
  }
}

