@use '/src/sass/_colors.scss' as colors;

.carouselContainer {
  width: 100%;

  :global(.swiper-wrapper) {
    padding-bottom: 78px;
  }

  .carouselItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    background-color: colors.$terraWhite;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    @media (min-width: 992px) {
      padding: 24px 30px;
    }

    .brandContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 19px;

      .brandName {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        color: colors.$main;
      }

      .brandIcon {
        width: auto;
        max-height: 22px;
      }
    }

    .shopPhoto {
      max-width: 100%;
      width: 100%;
      height: auto;
      border-radius: 20px;
      margin-bottom: 19px;
    }

    .description {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 22px;
      color: colors.$textPrimary;
      margin-bottom: 19px;
    }

    .createNow {
      margin-bottom: 19px;
    }

    .whatToRecycle {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 22px;
      color: colors.$textPrimary;
      margin-bottom: 10px;
    }

    .registerLink {
      width: 100%;
    }
  }
}
