.container {
  margin-bottom: 110px;

  .title {
    margin-top: 40px;
    margin-bottom: 18px;
  }

  .text {
    margin-bottom: 30px;
    text-align: center;
  }

  .okayBtn {
    margin-bottom: 30px;
  }
}
