.barcode {
  margin-bottom: 61px;
  max-width: 100%;
  height: auto;
  backdrop-filter: blur(0);
}

.brandLogo {
  width: 52px;
  height: auto;
  min-width: 170px;
  margin-bottom: 0.5px;
}

.code {
  margin-bottom: 21px;
  backdrop-filter: blur(0);

  .bolder {
    font-weight: 600;
  }
}

.background {
  backdrop-filter: blur(15px) brightness(70%);
}

.rotatedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(90deg);
  overflow: hidden;
}
.rotatedCentering {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: calc(100vh - 50px);
}
.canvasBarcode {
  max-width: calc(100vh - 100px);
}
