.recycleLogo {
  margin-top: 49px;
  margin-bottom: 9px;
}

.container {
  padding: 0 9px;

  .popBubble {
    min-height: 80px;
    padding: 0 10px;
  }
  .bubbleIcon {
    margin-right: 12px;
    margin-left: 10px;
    height: auto;
    flex-shrink: 0;
  }
}

p.topDescription {
  margin-bottom: 13px;
  font-weight: 700;
}
