@use '/src/sass/_colors.scss' as colors;

.homeContainer {
  min-height: 100%;
  padding: 0 16px;

  &.forHome {
    padding-bottom: 80px;
  }

  .wrapper {
    @media (min-width: 768px) {
      max-width: 50%;
    }

    :global(.bubble-icon) {
      margin-right: 26px;
      width: 55px;
      height: auto;
    }

    :global(.home-bubble) {
      min-height: 80px;
      padding: 12px 12px;
    }
  }

  .styleHeading {
    margin-bottom: 19px;
  }

  .bannerWrap {
    display: flex;
    width: calc(100% + 32px);
    height: 60px;
    position: relative;
    background: #e9f3ef;
    justify-content: center;
    align-content: center;
    align-items: center;

    .bannerText {
      color: colors.$main;
      font-weight: 700;
      font-size: 17px;
      line-height: 28px;
      text-align: center;
    }

    .closeBannerBtn {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 93px;

      @media (max-width: 768px) {
        right: 20px;
      }
    }
  }
}
