@use '/src/sass/_colors.scss' as colors;

.centering {
  position: fixed;
  background-color: colors.$terraWhite;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 17%);
  left: calc(100% - 60px);
  top: calc(100% - 120px);

  @media (min-width: 768px) {
    left: min(calc(100% - 60px), 85%);
  }

  @media (min-width: 991px) {
    left: min(calc(100% - 60px), 71%);
  }

  .navigateIcon {
    position: relative;
    left: 1.86px;
    bottom: 1.14px;
  }
}

.magickResizer {
  width: calc(100% - 30px);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 98px;
  height: 40px;
  max-width: 768px;
  pointer-events: none;

  .filteringBtn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #005c35;
    position: fixed;
    right: 0;
    pointer-events: all;
  }
}
