@use '/src/sass/_colors.scss' as colors;

.centering {
  position: fixed;
  background-color: colors.$terraWhite;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 17%);
  left: calc(100% - 60px);
  top: calc(100% - 120px);

  @media (min-width: 768px) {
    left: min( calc(100% - 60px) , 85%);
  }

  @media (min-width: 991px) {
    left: min( calc(100% - 60px) , 71%);
  }

  .navigateIcon {
    position: relative;
    left: 1.86px;
    bottom: 1.14px;
  }
}

.filteringBtn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: colors.$terraGreen;
  position: fixed;
  left: calc(100% - 56px);
  bottom: calc(100% - 138px);
}
