@use '/src/sass/_colors.scss' as colors;

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  .pwDescription {
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 40px;

    :global(.text-field) {
      margin-bottom: 20px;
    }

    :global(.main-button) {
      margin-top: 30px;
    }
  }

  .linkRow {
    display: flex;
    justify-content: center;
    margin: 39px 0 50px;
  }
}

.checkList {
  list-style: disc inside;

  li.invalid {
    &::marker,
    span {
      color: colors.$error;
    }
  }

  span {
    display: inline-block;
    width: auto;
  }
}
