@use '/src/sass/_colors.scss' as colors;

.splide__list {
  transition-property: transform;
  -webkit-backface-visibility:hidden;
  -webkit-transform-style: preserve-3d;

  .splide__slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
  }
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: flex!important;
  justify-content: center;
}


.splide__pagination {
  position: static;
  height: 18px;
  margin-top: 53px;

  li {
    height: 18px;
    width: auto;

    .splide__pagination__page {
      width: 10px;
      height: 10px;
      background-color: colors.$main;
      opacity: 0.15;
      margin: 0 10px;

      &.is-active {
        width: 18px;
        height: 18px;
        opacity: 1;
        margin: 0 6px;
        transform: none;
      }
    }
  }
}
