@use '/src/sass/_colors.scss' as colors;

//.splide__track {
//  transform: translate3d(0, 0, 0);
//  -webkit-transform: translate3d(0, 0, 0);
//  -o-transform: translate3d(0, 0, 0);
//  -moz-transform: translate3d(0, 0, 0);
//  -ms-transform: translate3d(0, 0, 0);
//  -webkit-transform-style: preserve-3d;
//
//  .splide__list {
//    transform: translate3d(0, 0, 0);
//    -webkit-transform: translate3d(0, 0, 0);
//    -o-transform: translate3d(0, 0, 0);
//    -moz-transform: translate3d(0, 0, 0);
//    -ms-transform: translate3d(0, 0, 0);
//    transition-property: transform;
//    backface-visibility: hidden;
//    -webkit-backface-visibility: hidden;
//    -webkit-transform-style: preserve-3d;
//
//    .splide__slide {
//      -webkit-backface-visibility: hidden;
//      backface-visibility: hidden;
//      transition-property: transform;
//      transform: translate3d(0, 0, 0) scale(1.0, 1.0);
//      -webkit-transform: translate3d(0, 0, 0) scale(1.0, 1.0);
//      -o-transform: translate3d(0, 0, 0) scale(1.0, 1.0);
//      -moz-transform: translate3d(0, 0, 0) scale(1.0, 1.0);
//      -ms-transform: translate3d(0, 0, 0) scale(1.0, 1.0);
//      -webkit-transform-style: preserve-3d;
//    }
//  }
//}

.splide,
.splide__track,
.splide__list,
.splide__slide
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  //-webkit-transform: translateZ(0);
  //-moz-transform: translateZ(0);
  //-ms-transform: translateZ(0);
  //-o-transform: translateZ(0);
  //transform: translateZ(0);

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: flex!important;
  justify-content: center;
}


.splide__pagination {
  position: static;
  height: 18px;
  margin-top: 53px;

  li {
    height: 18px;
    width: auto;

    .splide__pagination__page {
      width: 10px;
      height: 10px;
      background-color: colors.$main;
      opacity: 0.15;
      margin: 0 10px;

      &.is-active {
        width: 18px;
        height: 18px;
        opacity: 1;
        margin: 0 6px;
        transform: none;
      }
    }
  }
}
