@use "/src/sass/_colors.scss" as color;

.unlockBtn {
  padding: 10px 19px;
  border-radius: 60px;
  background: color.$main;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;

  &.forLanding {
    margin-top: 40px;
    margin-bottom: 52.5px;
    align-self: center;
  }

  .lockIcon {
    width: 24px;
    height: 24px;
  }

  .unlockText {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: color.$terraWhite;
    text-align: center;
    margin: 0 10px;
  }

  &:disabled {
    background-color: color.$disabled;

    .unlockText {
      color: color.$disabledText;
    }
  }
}
